body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: Arial, sans-serif;
}


.side-nav {
    position: fixed;
    width: 70px;
    height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.side-nav .logo {
    color: #00e0c6;
    font-weight: bold;
    margin-bottom: 40px;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav li {
    margin: 25px 0;
}

.side-nav i {
    color: #aaa;
    font-size: 18px;
}

.main-content {
    margin-left: 70px;
}

.resume-card {
    background: #141414;
    border-radius: 10px;
    overflow: hidden;
}

.left-panel {
    background: #121212;
    padding: 30px;
}

.profile-img {
    width: 75%;
    border-radius: 10px;
    height: 68.5%;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.role {
    color: #00e0c6;
    margin-bottom: 20px;
}

.contact p {
    font-size: 14px;
    color: #ccc;
}

/* RIGHT PANEL */
.right-panel {
    padding: 40px;
}

.section-title {
    font-size: 34px;
    font-weight: bold;
}

.highlight {
    color: #00e0c6;
    margin-bottom: 15px;
}

.section-heading {
    color: #00e0c6;
    margin: 30px 0 15px;
}

.progress {
    height: 6px;
    background: #333;
}

.progress-bar {
    background: #00e0c6;
}
